In [7]:
# imports
import pandas as pd

In [8]:
file_path = 'data/injury data/ITA Data CY 2023.csv'
data = pd.read_csv(file_path)

C:\Users\joshr\AppData\Local\Temp\ipykernel_22488\1426374055.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)

In [11]:
# Get a summary of the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374662 entries, 0 to 374661
Data columns (total 32 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   id                            374662 non-null  int64
 1   establishment_name            374662 non-null  object
 2   establishment_id              374662 non-null  int64
 3   ein                           335124 non-null  object
 4   company_name                  356027 non-null  object
 5   street_address                374658 non-null  object
 6   city                          374661 non-null  object
 7   state                         374662 non-null  object
 8   zip_code                      374662 non-null  float64
 9   naics_code                    374662 non-null  int64
 10  naics_year                    372385 non-null  float64
 11  industry_description          350341 non-null  object
 12  establishment_type            373972 non-null  float64
 13  size                          374662 non-null  int64
 14  annual_average_employees      374662 non-null  int64
 15  total_hours_worked            374662 non-null  int64
 16  no_injuries_illnesses         374662 non-null  int64
 17  total_deaths                  374662 non-null  int64
 18  total_dafw_cases              374662 non-null  int64
 19  total_djtr_cases              374662 non-null  int64
 20  total_other_cases             374662 non-null  int64
 21  total_dafw_days               374662 non-null  int64
 22  total_djtr_days               374662 non-null  int64
 23  total_injuries                374662 non-null  int64
 24  total_skin_disorders          374662 non-null  int64
 25  total_respiratory_conditions  374662 non-null  int64
 26  total_poisonings              374662 non-null  int64
 27  total_hearing_loss            374662 non-null  int64
 28  total_other_illnesses         374662 non-null  int64
 29  created_timestamp             374662 non-null  object
 30  change_reason                 12247 non-null   object
 31  year_filing_for               374662 non-null  int64
dtypes: float64(3), int64(20), object(9)
memory usage: 91.5+ MB

In [10]:
# Summary statistics for numeric columns
data.describe()

,id,establishment_id,zip_code,naics_code,naics_year,establishment_type,size,annual_average_employees,total_hours_worked,no_injuries_illnesses,...,total_other_cases,total_dafw_days,total_djtr_days,total_injuries,total_skin_disorders,total_respiratory_conditions,total_poisonings,total_hearing_loss,total_other_illnesses,year_filing_for
count,3.746620e+05,3.746620e+05,3.746620e+05,374662.000000,372385.000000,373972.000000,374662.000000,3.746620e+05,3.746620e+05,374662.000000,...,374662.000000,374662.000000,3.746620e+05,374662.000000,374662.000000,374662.000000,374662.000000,374662.000000,374662.000000,374662.0
mean,2.289988e+06,8.781320e+05,1.958278e+07,467416.333856,2021.423473,1.096071,11.866696,1.060704e+03,5.795150e+05,1.405971,...,1.408678,48.232754,6.295744e+01,3.608783,0.017829,0.168536,0.002394,0.032472,0.172091,2023.0
std,1.088017e+05,3.393767e+05,1.127422e+08,163235.577626,2.030706,0.375116,9.757425,3.088794e+05,9.339299e+07,0.491080,...,8.856144,334.781368,2.191959e+03,16.436847,0.304501,2.667863,0.099334,0.638183,3.753007,0.0
min,2.101836e+06,4.193000e+04,0.000000e+00,101660.000000,2012.000000,0.000000,1.000000,0.000000e+00,0.000000e+00,1.000000,...,0.000000,0.000000,-1.550000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2023.0
25%,2.195708e+06,6.665952e+05,3.003800e+04,332994.000000,2022.000000,1.000000,2.000000,2.000000e+01,3.053450e+04,1.000000,...,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2023.0
50%,2.289788e+06,1.005094e+06,5.305100e+04,452112.000000,2022.000000,1.000000,21.000000,4.300000e+01,7.423600e+04,1.000000,...,0.000000,0.000000,0.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2023.0
75%,2.384087e+06,1.140904e+06,8.012400e+04,561910.000000,2022.000000,1.000000,21.000000,1.060000e+02,1.824978e+05,2.000000,...,1.000000,14.000000,2.100000e+01,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2023.0
max,2.478451e+06,1.238225e+06,9.980000e+08,999999.000000,2022.000000,3.000000,22.000000,1.723076e+08,5.310628e+10,2.000000,...,1548.000000,89467.000000,1.312023e+06,2838.000000,85.000000,479.000000,38.000000,116.000000,1696.000000,2023.0